<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="E4PL4GpqcuX9oLPDH7EtiIgFHQYJt2v6zTukfOAv">
    <title>Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
    <meta content="kindmate, wakeitup, gay quy, crowdfunding, tu thien, gay quy" name="keywords" />
    <meta content="Kindmate giúp các cá nhân và tổ chức tự tạo một trang web gây quỹ cộng đồng chuyên nghiệp." name="description" />
    <meta content="Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng" property="og:title" />
    <meta content="Kindmate giúp các cá nhân và tổ chức tự tạo một trang web gây quỹ cộng đồng chuyên nghiệp." property="og:description" />
    <meta content="Kindmate" property="og:site_name" />
    <meta content="https://kindmate.net/ images/thumb.png ?v=2.0.6" property="og:image" />
    <link href="https://kindmate.net/css/app.css?v=2.0.6" rel="stylesheet">
    <script>
        var IMG_API_URL = 'https://kindmate.net/app/campaign/image';
    </script>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-kindmate">
            <div class="container">
                <a class="navbar-brand" href="https://kindmate.net">
                    <img class="logo-img" src="https://kindmate.net/svg/logo.svg" alt="Kindmate">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="https://kindmate.net/explore">Các chiến dịch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://kindmate.net/articles">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://kindmate.net/about">Về chúng tôi</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-primary" href="https://kindmate.net/register">Tạo tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="https://kindmate.net/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="py-5">
            <section id="top-video" class="bg-black" style="margin-top: -3rem;">
                <div class="container">
                    <div style="padding-top: 56.25%; position: relative; overflow: hidden;"><iframe frameborder="0" allowfullscreen="" src="https://onelineplayer.com/player.html?autoplay=false&loop=true&autopause=false&muted=false&url=http%3A%2F%2Fkindmate.net%2Fvideos%2FSequence19.mp4&poster=https%3A%2F%2Fkindmate.net%2Fimages%2Fthumb.png&time=true&progressBar=true&playButton=true&overlay=true&muteButton=true&fullscreenButton=true&style=dark&logo=false&quality=1080p"
                            style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;"></iframe></div>
                </div>
            </section>
            <section id="introduce" class="py-5 bg-light">
                <div class="container">
                    <div class="top-introduce py-5">
                        <div class="row">
                            <div class="col-md-5 order-2 order-md-1 d-flex align-items-center">
                                <article class="introduce-box">
                                    <h2>Kindmate là một nền tảng gây quỹ cộng đồng</h2>
                                    <p class="my-3 text-secondary">
                                        Được phát triển bởi Wakeitup, Kindmate tập trung vào việc sử dụng công nghệ để giảm bớt rào cản và kết nối các nguồn lực cộng đồng, giúp cho việc gây quỹ trở nên đơn giản, hiệu quả và minh bạch.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="count-box">
                                            <h4 class="text-primary">300+</h4>
                                            <div class="text-secondary">
                                                Chiến dịch
                                            </div>
                                        </div>
                                        <div class="count-box px-3">
                                            <h4 class="text-primary">6,000 +</h4>
                                            <div class="text-secondary">
                                                Người tham gia
                                            </div>
                                        </div>
                                        <div class="count-box">
                                            <h4 class="text-primary">5,5 tỷ</h4>
                                            <div class="text-secondary">
                                                Tiền quyên góp được
                                            </div>
                                        </div>
                                    </div>
                                    <a href="https://kindmate.net/about" class="btn btn-lg btn-primary mt-5">
                            Tìm hiểu thêm
                        </a>
                                </article>
                            </div>
                            <div class="col-md-6 offset-sm-1 order-1 order-md-2 ">
                                <img width="100%" class="my-3" src="https://kindmate.net/svg/donation.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="middle-introduce py-5">
                        <div class="row">
                        </div>
                    </div>


                    <div class="bottom-introduce mt-4 row">
                        <div class="text-center py-2 col-md-8 offset-md-2">
                            <h2 class="mb-5">Mọi cá nhân, tổ chức đều có thể tự tạo một trang web gây quỹ với Kindmate</h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="my-2">
                                        <img src="https://kindmate.net/svg/quyen-gop.svg" alt="quyen-gop" class="mb-4">
                                        <h4 class="my-2">Tôi muốn quyên góp</h4>
                                        <p class="my-2">
                                            Khởi tạo chiến dịch của bạn ngay lập tức, chỉ với vài thao tác đơn giản và dễ dàng
                                        </p>
                                        <a href="https://kindmate.net/app/campaign/create" class="btn btn-lg btn-primary mt-3">Tạo chiến dịch</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="my-2">
                                        <img src="https://kindmate.net/svg/yeu-thuong.svg" alt="yeu-thuong" class="mb-4">
                                        <h4 class="my-2">Tôi muốn ủng hộ</h4>
                                        <p class="my-2">Hàng trăm chiến dịch đang cần sự trợ giúp của bạn, hãy cùng chúng tôi khám phá nhé</p>
                                        <a href="https://kindmate.net/explore" class="btn btn-lg btn-danger mt-3">Các chiến dịch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-5 mt-2">
                        <img class="logo-img" height="30" src="https://kindmate.net/svg/logo.svg" alt="Kindmate">
                        <ul class="list-unstyled mt-4">
                            <li class="my-1">
                                <i class="zmdi zmdi-pin zmdi-hc-lg mr-2"></i>
                                <span>P 11A1 toà Golden West, số 2 Lê Văn Thiêm, Thanh Xuân, Hà Nội</span>
                            </li>
                            <li class="my-1">
                                <i class="zmdi zmdi-phone zmdi-hc-lg mr-2"></i>
                                <span>0773371909 (Mr. Minh) - 0347228829 (Ms Hải)</span>
                            </li>
                            <li class="my-1">
                                <i class="zmdi zmdi-email zmdi-hc-lg mr-2"></i>
                                <span>ungho@wakeitup.net</span>
                            </li>
                        </ul>
                        <ul class="list-unstyled mt-4 d-flex">

                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-sm-4 mt-2">
                                <h5 class="text-primary">VỀ CHÚNG TÔI</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://kindmate.net/about">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="#">Tuyển dụng</a>
                                    </li>
                                    <li>
                                        <a href="#">Báo chí</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <h5 class="text-primary">HỖ TRỢ</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://kindmate.net/pricing">Chi phí</a>
                                    </li>
                                    <li>
                                        <a href="https://kindmate.net/terms-of-use">Điều khoản sử dụng</a>
                                    </li>
                                    <li>
                                        <a href="#">Hướng dẫn ủng hộ</a>
                                    </li>
                                    <li>
                                        <a href="https://kindmate.net/faqs">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <select name="language" id="app-language" class="form-control">
                            <option value="/?language=vi">Tiếng Việt</option>
                            <option value="/?language=en">English</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-4">
                <span class="copyright-text">&copy; Copyright 2018 Kindmate All Rights Reserved</span>
            </div>
        </footer>
    </div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1407210996040164',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Hotjar Tracking Code for http://kindmate.net -->
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 472843,
                hjsv: 5
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1952260295002228');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1952260295002228&ev=PageView&noscript=1"
/></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-96854736-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="https://kindmate.net/js/app.js?v=2.0.6" defer></script>
    <script src="https://kindmate.net/bassets/plugins/jquery/jquery.min.js"></script>
    <script>
        $("#btn-organization").click(function() {
            $("#form-organization").submit();
        });
    </script>
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#gift').modal('show');
        });
    </script>
</body>

</html>