{% extends 'vdf/AdminLayout.html'%} {% load static %} {% block head %}
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
{% endblock %} {% block body%}
<h1 class="h3 mb-2 text-gray-800">Thay đổi mật khẩu</h1>

<!-- DataTales Example -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Thay đổi mật khẩu :</h3>
                    </div>
                    <form method="POST" action="#">
                        <input type="hidden" name="_token" value="E4PL4GpqcuX9oLPDH7EtiIgFHQYJt2v6zTukfOAv">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password">Mật khẩu cũ</label>
                                    <input id="password" type="password" class="form-control" name="oldpassword" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Mật khẩu mới</label>
                                        <input id="password" type="password" class="form-control" name="newpassword" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password">Xác nhận mật khẩu mới</label>
                                            <input id="password" type="password" class="form-control" name="repnewpassword" required>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary">
                                            Đổi mật khẩu
                                        </button>
                                    </div>
                    </form>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endblock %}