{% extends 'vdf/layout.html'%} {% load static %} {% block head%}
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
{% endblock %} {% block body %}
<main>
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Liên hệ </h1>
    </div>
    <div class="text-secondary">
        <table align="center">
            <tr>
                <td>Địa chỉ của chúng tôi :</td>
                <td>Cù lao cốc, 54 Nguyễn Lương Bằng, Liên Chiểu, Đà Nẵng</td>
            </tr>
            <tr>
                <td>Số điện thoại :</td>
                <td>
                    <li class="my-1">
                        <i class="zmdi zmdi-phone zmdi-hc-lg mr-2"></i>
                        <span>0123456789 (SuperMan) - 0987654321 (Wonder Woman)</span>
                    </li>
                </td>

            </tr>

            </tr>
            <td>Email :</td>
            <td>
                <li class="my-1">
                    <i class="zmdi zmdi-email zmdi-hc-lg mr-2"></i>
                    <span>ungho@vdf.net</span>
                </li>
            </td>
            </tr>

        </table>
    </div>
</main>

{% endblock %}