
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">     <meta name="csrf-token" content="E4PL4GpqcuX9oLPDH7EtiIgFHQYJt2v6zTukfOAv">
    <title>Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
    <meta content="kindmate, wakeitup, gay quy, crowdfunding, tu thien, gay quy" name="keywords" />
    <meta content="Kindmate giúp các cá nhân và tổ chức tự tạo một trang web gây quỹ cộng đồng chuyên nghiệp." name="description"
    />
    <meta content="Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng" property="og:title" />
    <meta content="Kindmate giúp các cá nhân và tổ chức tự tạo một trang web gây quỹ cộng đồng chuyên nghiệp." property="og:description"
    />
    <meta content="Kindmate" property="og:site_name" />
    <meta content="https://kindmate.net/ images/thumb.png ?v=2.0.6" property="og:image" />     <link href="https://kindmate.net/css/app.css?v=2.0.6" rel="stylesheet">
            <script>
        var IMG_API_URL = 'https://kindmate.net/app/campaign/image';
    </script>
</head>

<body>
    <div id="app">
         <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-kindmate">
    <div class="container">
        <a class="navbar-brand" href="https://kindmate.net">
            <img class="logo-img" src="https://kindmate.net/svg/logo.svg" alt="Kindmate">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="https://kindmate.net/explore">Các chiến dịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://kindmate.net/articles">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://kindmate.net/about">Về chúng tôi</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-primary" href="https://kindmate.net/register">Tạo tài khoản</a>
                </li>
                <li class="nav-item">
                                        <a class="nav-link font-weight-bold" href="https://kindmate.net/login">Đăng nhập</a>
                                    </li>
                            </ul>
        </div>
    </div>
</nav>
         <main class="py-5">
            <section class="my-2 pb-4 container">
    <h2 class="mb-4">Khám phá chiến dịch</h2>
    <div class="mt-2 mb-4">
        <form method="GET" action="https://kindmate.net/explore" accept-charset="UTF-8" id="search-form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="name" class="form-control" placeholder="Nhập từ khóa" name="name" type="text" value="">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="zmdi zmdi-search zmdi-hc-lg"></i> 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row list-campaigns">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/25/5ecbe554984f9-banner-chien-dich-fb--2-.png"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/Uploads/2020/05/25/5ecbc9ad72073-logo-vnsound-music--white-.jpg"
                     alt="vnsoundmusic">
                            </div>
            <a href="https://kindmate.net/project/1328/vnsound-charity---music-makes-a-change">
                <h6 class="card-title mt-3 mb-2 text-body ">VNSOUND CHARITY - MUSIC MAKES A CHANGE</h6>
            </a>
            <div class="card-text text-secondary">
                “Music Makes A Change”, chiến dịch gây quỹ sẽ được sử dụng để hỗ trợ bệnh nhi ung thư tại bệnh viện K Tam Hiệp (Thanh Trì - Hà Nội)
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">vnsoundmusic</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>40,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 73 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/18/5ec239b267ff3-fb-img-1573563865072.jpg"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/images/user-avatar.png"
                     alt="SaiGon Pets Adoption">
                            </div>
            <a href="https://kindmate.net/project/1325/xin-ho-tro-chi-phi-triet-san-cho-cho--amp--meo-co-nho">
                <h6 class="card-title mt-3 mb-2 text-body ">Xin hỗ trợ Chi Phí Triệt Sản cho Chó &amp;amp; Mèo cơ nhỡ</h6>
            </a>
            <div class="card-text text-secondary">
                Chúng tôi mong được Cộng Đồng Yêu Chó &amp;amp; Mèo toàn quốc, hỗ trợ kinh phí giúp Triệt Sản cho Chó &amp;amp; Mèo thang lang cơ nhỡ. Vì tương lai không còn Chó Mèo bị bỏ rơi, sống lang thang đói khát như thực trạng hiện nay.
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">SaiGon Pets Adoption</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>10,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 32 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/17/5ec0eb8ebcb4c-posterkita2.png"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/images/user-avatar.png"
                     alt="Linh Pham">
                            </div>
            <a href="https://kindmate.net/project/1323/we-are-one-world">
                <h6 class="card-title mt-3 mb-2 text-body ">WE ARE ONE WORLD</h6>
            </a>
            <div class="card-text text-secondary">
                【Chương trình chung tay phòng chống dịch COVID-19 giữa thành phố Hải Phòng và thành phố Kitakyushu】- bởi Ngọc Linh và Quỳnh Chi, cùng toàn thể học sinh trường THPT Chuyên Trần Phú - Hải Phòng.
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">Linh Pham</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>25,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 2 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/17/5ec0de1e5cb6c-8ffe5987aec1479f1ed0.jpg"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/Uploads/2020/05/17/5ec0ded1cde0e-8ffe5987aec1479f1ed0.jpg"
                     alt="Mr.Lâm">
                            </div>
            <a href="https://kindmate.net/project/1320/lan-song-xanh---ung-ho-tre-em-khuyet-tat">
                <h6 class="card-title mt-3 mb-2 text-body ">LÀN SỐNG XANH - ỦNG HỘ TRẺ EM KHUYẾT TẬT</h6>
            </a>
            <div class="card-text text-secondary">
                Làn Sống Xanh - quyên góp ủng hộ dành cho trẻ em khuyết tật bẩm sinh có hoàn cảnh khó khăn trên cả nước
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">Mr.Lâm</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>25,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 39 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/08/5eb5846817260-1003-41.jpg"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/Uploads/2020/05/09/5eb6614035768-images.jpg"
                     alt="Lê Minh Tuấn">
                            </div>
            <a href="https://kindmate.net/project/1318/help-tuan-to-be-a-student-at-townshend--giup-tuan-den-hoc-tai-townshend-international-school-">
                <h6 class="card-title mt-3 mb-2 text-body ">HELP TUAN TO BE A STUDENT AT TOWNSHEND (GIÚP TUẤN ĐẾN HỌC TẠI TOWNSHEND INTERNATIONAL SCHOOL)</h6>
            </a>
            <div class="card-text text-secondary">
                My name is Le Minh Tuan. I came from Phu Yen Province of Vietnam. Currently, I am in the 11th grade of Phan Boi Chau High School in Phu Yen, Vietnam and I was accepted to attend Townshend International School in the Czech Republic with George Scholarship.
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">Lê Minh Tuấn</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>230,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 5 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/05/5eb0e73c7378d-94102791-122315919432763-6626308941934493696-n.png"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/images/user-avatar.png"
                     alt="ME FOUNDATION">
                            </div>
            <a href="https://kindmate.net/project/1307/du-an-sap--giup-giao-vien-mam-non-dung-day-sau-dai-dich">
                <h6 class="card-title mt-3 mb-2 text-body ">DỰ ÁN SAP- GIÚP GIÁO VIÊN MẦM NON ĐỨNG DẬY SAU ĐẠI DỊCH</h6>
            </a>
            <div class="card-text text-secondary">
                Dự án hướng tới mục tiêu dài hạn, hỗ trợ các giáo viên mầm non được tham gia các chương trình phát triển bản thân miễn phí để nâng cao chất lượng chuyên môn và bồi đắp thêm tình yêu nghề
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">ME FOUNDATION</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>500,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Hết hạn vào 05/05/2020
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/04/5eaf919286bd7-maxresdefault.jpg"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/Uploads/2020/05/17/5ec0ded1cde0e-8ffe5987aec1479f1ed0.jpg"
                     alt="Mr.Lâm">
                            </div>
            <a href="https://kindmate.net/project/1303/noi-vong-tay-lon--covid-19">
                <h6 class="card-title mt-3 mb-2 text-body ">NỐI VÒNG TAY LỚN  COVID-19</h6>
            </a>
            <div class="card-text text-secondary">
                Nhằm chung tay ủng hộ nhân dân cả nước chống lại đại dịch COVID-19 với tinh thần &amp;quot;Chống Dịch Như Chống Giặc&amp;quot;
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">Mr.Lâm</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-0"></div>
                <span class="campaign-percent-text">0%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>70,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 32 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
       <article class="card campaign-style2 mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://kindmate.net/Uploads/2020/05/01/5eac3bf4beb61-378acb24-7f90-439c-8b16-c1c717edc5df-1-100-o.jpeg"/>
    </div>
    <div class="card-body pb-3  d-flex flex-column align-items-start">
        <div class="campaign-main-info mb-auto w-100">
            <div class="campaign-badge-box d-flex justify-content-between align-items-center">
                <img width="50" height="50" class="mr-2 avatar bg-white img-fill"
                     src="https://kindmate.net/Uploads/2020/05/01/5eac3f3df278e-824dde1c-7fd2-4b0c-ba7a-e8fa67f09b8c-1-105-c.jpeg"
                     alt="Daniel Doan">
                            </div>
            <a href="https://kindmate.net/project/1302/gay-quy-xuat-ban-bo-tieu-su-anh-hung-duc-tin---xua-va-nay--william-carey">
                <h6 class="card-title mt-3 mb-2 text-body ">Gây quỹ xuất bản Bộ tiểu sử Anh Hùng Đức Tin - Xưa và Nay: William Carey</h6>
            </a>
            <div class="card-text text-secondary">
                Bộ tiểu sử &amp;quot;Anh Hùng Đức Tin&amp;quot; với hơn 40 tác phẩm thuật lại cuộc đời và sự nghiệp của các mục sư-giáo sĩ đã tận hiến cho Đức Chúa Trời và các dân tộc.
            </div>
            <div class="card-text card-author mt-1">
                <span class="text-secondary">bởi</span>
                <a href="javascript:void(0)"
                   class="campaign-author-link">Daniel Doan</a>
            </div>
            <ul class="tags-box">
                <li>
                    <a href="#">Hoàn cảnh khó khăn</a>
                </li>
                <li>
                    <a href="#">Trẻ em</a>
                </li>
                <li>
                    <a href="#">Mùa đông</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
            <div class="process-style d-flex justify-content-between align-items-center">
                <div
                    class="progress-circle progress-1"></div>
                <span class="campaign-percent-text">1%</span>
            </div>
            <div class="campaign-info text-right">
                <div class="campaign-money">
                    <span>50,000,000 đ</span>
                </div>
                <div class="campaign-deadline">
                    <span class="small text-secondary">
                        Còn lại 94 ngày
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>
    </div>
    </div>
<div class="my-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" role="navigation">
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
                    <span class="page-link" aria-hidden="true">
                        <i class="zmdi zmdi-chevron-left zmdi-hc-lg"></i>
                        <i class="fa fa-chevron-left"></i>
                    </span>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=2">2</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=3">3</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=4">4</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=5">5</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=6">6</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=7">7</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=8">8</a></li>
                                                                                        
                                    <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>
                
                
                                            
                
                
                                                                                        <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=43">43</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://kindmate.net/explore?page=44">44</a></li>
                                                                        
            
                            <li class="page-item">
                    <a class="page-link" href="https://kindmate.net/explore?page=2" rel="next" aria-label="Next &raquo;">
                        <i class="zmdi zmdi-chevron-right zmdi-hc-lg"></i>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                    </ul>
    </nav>

</div>
</section>
<section id="introduce" class="py-5 bg-light">
    <div class="container">
        
        

                <div class="bottom-introduce mt-4 row">
            <div class="text-center py-2 col-md-8 offset-md-2">
                <h2 class="mb-5">Mọi cá nhân, tổ chức đều có thể tự tạo một trang web gây quỹ với Kindmate</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="my-2">
                            <img src="https://kindmate.net/svg/quyen-gop.svg" alt="quyen-gop" class="mb-4">
                            <h4 class="my-2">Tôi muốn quyên góp</h4>
                            <p class="my-2">
                                Khởi tạo chiến dịch của bạn ngay lập tức, chỉ với vài thao tác đơn giản và dễ dàng
                            </p>
                            <a href="https://kindmate.net/app/campaign/create" class="btn btn-lg btn-primary mt-3">Tạo chiến dịch</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="my-2">
                            <img src="https://kindmate.net/svg/yeu-thuong.svg" alt="yeu-thuong" class="mb-4">
                            <h4 class="my-2">Tôi muốn ủng hộ</h4>
                            <p class="my-2">Hàng trăm chiến dịch đang cần sự trợ giúp của bạn, hãy cùng chúng tôi khám phá nhé</p>
                            <a href="https://kindmate.net/explore" class="btn btn-lg btn-danger mt-3">Các chiến dịch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
</section>
        </main>

         <footer class="footer">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-5 mt-2">
                <img class="logo-img" height="30" src="https://kindmate.net/svg/logo.svg" alt="Kindmate">
                <ul class="list-unstyled mt-4">
                    <li class="my-1">
                        <i class="zmdi zmdi-pin zmdi-hc-lg mr-2"></i>
                        <span>P 11A1 toà Golden West, số 2 Lê Văn Thiêm, Thanh Xuân, Hà Nội</span>
                    </li>
                    <li class="my-1">
                        <i class="zmdi zmdi-phone zmdi-hc-lg mr-2"></i>
                        <span>0773371909 (Mr. Minh) - 0347228829 (Ms Hải)</span>
                    </li>
                    <li class="my-1">
                        <i class="zmdi zmdi-email zmdi-hc-lg mr-2"></i>
                        <span>ungho@wakeitup.net</span>
                    </li>
                </ul>
                <ul class="list-unstyled mt-4 d-flex">

                </ul>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-sm-4 mt-2">
                        <h5 class="text-primary">VỀ CHÚNG TÔI</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://kindmate.net/about">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#">Báo chí</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <h5 class="text-primary">HỖ TRỢ</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://kindmate.net/pricing">Chi phí</a>
                            </li>
                            <li>
                                <a href="https://kindmate.net/terms-of-use">Điều khoản sử dụng</a>
                            </li>
                            <li>
                                <a href="#">Hướng dẫn ủng hộ</a>
                            </li>
                            <li>
                                <a href="https://kindmate.net/faqs">FAQs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <select name="language" id="app-language" class="form-control">
                            <option value="/?language=vi">Tiếng Việt</option>
                            <option value="/?language=en">English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <span class="copyright-text">&copy; Copyright 2018 Kindmate All Rights Reserved</span>
    </div>
</footer>     </div>

    <script>
        window.fbAsyncInit = function() {
        FB.init({
            appId      : '1407210996040164',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <!-- Hotjar Tracking Code for http://kindmate.net -->
    <script>
        (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:472843,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1952260295002228');
        fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1952260295002228&ev=PageView&noscript=1"
/></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96854736-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://kindmate.net/js/app.js?v=2.0.6" defer></script>
    <script src="https://kindmate.net/bassets/plugins/jquery/jquery.min.js"></script>
    <script>
        $( "#btn-organization" ).click(function() {
            $( "#form-organization" ).submit();
        });
    </script>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#gift').modal('show');
        });
    </script>
        </body>

</html>

