{% extends 'vdf/layout.html'%} {% load static %} {% block head%}
<title>Vietnam Donation Foundation</title>
{% endblock%} {% block body %}
<main>
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Frequently Asked Questions</h1>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Câu 1: Cách thức để Donate cho chiến dịch?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Bước 1. Chọn dự án muốn ủng hộ <br> Bước 2. Click vào Ủng hộ ngay <br> Bước 3. Điền đầy đủ thông tin <br> Bước 4. Click Ủng hộ chiến dịch<br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Câu 2: Ủng hộ có mất phí hay không?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Câu trả lời là không. Khi bạn ủng hộ bận sẽ không mất thêm bất cứ khoản phí nào nữa.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Câu 3: Khi gặp lỗi trong quá trình donate thì tôi phải làm sao?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">

                        Khi gặp lỗi trong quá trình donate, bạn có thể thử 1 trong các cách sau:
                        <br> - Xóa lịch sử duyệt web và Cookie của bạn
                        <br> - Kiểm tra cài đặt bảo mật trên máy tính của bạn
                        <br> - Bật Cookie của bên thứ 3

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Câu 4: Làm sao để tôi biết được nếu ủng hộ của tôi đã thành công?
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Nếu ủng hộ của bạn là thành công thì bạn sẽ nhận được thông báo rằng sự ủng hộ của bạn đã thành công trong trang quản trị cái nhân sau 1 khoảng thời gian sớm nhất
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            Câu 5: Làm sao nếu tôi quên mật khẩu của mình?
                        </button>
                    </h2>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Chúng tôi sẽ hộ trợ bạn thay đổi mật khẩu trong trường hợp bạn quên đi mật khẩu của mình

                    </div>
                </div>
            </div>


        </div>
    </div>
</main>

{% endblock %}