{% extends 'vdf/layout.html'%} {% load static %} {% block head%}
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
{% endblock %} {% block body %}
<main>
    <div class="container">
        <form method="POST" action="#">
            <h4 class="card-title">Reset Password</h4>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="password">Email đăng ký </label>
                    <input id="password" placeholder="Nhập email đã đăng ký" type="email" class="form-control" name="email" required>
                </div>
            </div>
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary">
                    Đổi mật khẩu
                </button>
            </div>
        </form>
    </div>
</main>

{% endblock %}