{% extends 'vdf/layout.html'%} {% load static %} {% block head%}
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
{% endblock %} {% block body %}
<main>

    <div class="card">
        <div class="card-header" align="center">
            <h4 class="card-title">Reset Password</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="card card-primary card-outline">
                            <form method="POST" action="#">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Email đăng ký </label>
                                        <input id="password" type="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary">
                                        Đổi mật khẩu
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}