<html lang="en" style="height: auto;"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="E4PL4GpqcuX9oLPDH7EtiIgFHQYJt2v6zTukfOAv">
    <link href="../static/vdf/allstyle.css" rel="stylesheet">
    <link href="../static/vdf/adminlte.css" rel="stylesheet">
    <link href="../static/vdf/adminlte.min.css" rel="stylesheet">
    <link href="../static/vdf/site.css" rel="stylesheet">
    <link href="../static/vdf/ajax.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/vdf/img/vdflogo.png">
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>

    <script>
        // var IMG_API_URL = 'https://kindmate.net/app/campaign/image';
    </script>
</head>

<body class="sidebar-mini sidebar-open" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-purple">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link"> <i class="fas fa-arrow-left"></i> Quay về trang chủ</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->

                <li class="nav-item">
                    <a class="nav-link" href="" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class="fas fa-fw fa-sign-out-alt mr-1"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-purple">
            <!-- Brand Logo -->
            <a href="/admin/campaign" class="brand-link navbar-purple">
                <img src="../static/vdf/img/vdflogo.png" alt="AdminLTE Logo" class="brand-image">
                <span class="brand-text font-weight-light">&nbsp;</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="../static/vdf/img/user-avatar.png" class="img-circle elevation-1" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">huytruong2931998@gmail.com</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/admin/campaign" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Chiến dịch
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/show-user">
                                <i class="fas fa-id-card"></i> Thông tin cá nhân
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/changepassword">
                                <i class="fas fa-id-card"></i> Thay đổi mật khẩu
                            </a>
                        </li>

                        <!-- Nav Item - Tables -->

                        <!-- Nav Item - Tables -->
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fas fa-fw fa-home"></i>
                                <span>Về trang chủ</span></a>
                        </li>

                        <!-- Nav Item - Tables -->

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper pt-4 pb-3" style="min-height: 740px;">
            <div class="container">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800"> Danh sách Chiến dịch</h1>
                <p class="mb-4">Tất cả chiến dịch mà bạn có thể chỉnh sửa và quản trị.</p>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách Chiến dịch</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 100%;">
<!--                                <select name="status" id="status" class="form-control float-right mr-2">-->
<!--                                    <option value="all" selected="">Trạng thái</option>-->
<!--                                    <option value="public">Đã duyệt</option>-->
<!--                                    <option value="visible">Nháp/Chờ duyệt</option>-->
<!--                                    <option value="hidden">Đã ẩn</option>-->
<!--                                    <option value="unpublic">Từ chối</option>-->
<!--                                </select>-->
                                <select name="deadline" id="deadline" class="form-control float-right">
                                    <option value="all" selected="">Chọn trường</option>
                                    <option value="0">Ngày bắt đầu</option>
                                    <option value="1">Tên chiến dịch</option>
                                </select>
                                <button class="btn btn-success form-control mr-2" onclick="filter()">
                                    Sắp xếp
                                </button>
                                <input type="text" name="table_search" class="form-control float-right ui-autocomplete-input" placeholder="Search" id="search-string" value="" autocomplete="off">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default" onclick="filter()"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <div id="result" class="result"><ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul></div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-valign-middle border-bottom mb-2">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Chiến dịch</th>
                                    <th class="border-bottom-0">Ngày bắt đầu</th>
                                    <th class="border-bottom-0">Ngày hết hạn</th>
                                    <th class="border-bottom-0">Status</th>
                                    <th class="border-bottom-0">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="data-body">

                            <tr>
                    <td>
                        <img src="https://kindmate.net/images/campaign-logo.png" class="img-circle img-size-32 mr-2">
                        <a href="https://kindmate.net/project/1353/cai-ni-la-test-thoi" target="_blank" class="text-primary">Test03</a>
                    </td>
                    <td class="text-secondary">20/06/2020 10:40:50 CH</td>
                    <td class="text-secondary">1 ngày từ bây giờ</td>
                    <td>
                         <span class="text-warning">Đang chờ duyệt</span>                                                                                             </td>
                    <td>
                        <div class="d-flex">
                                                       <!--  <a href="https://kindmate.net/admin/cpanel/campaign/1353" target="_blank" class="btn btn-default m-0 btn-sm mr-2" role="button">
                                <span class="text">Quản trị</span>
                            </a> -->
                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn ẩn chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="put">                                <input type="hidden" value="hidden" name="status">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <i></i>Ẩn
                                </button>
                            </form>

                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn xóa chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="DELETE">                                <button class="btn btn-danger btn-sm" type="submit">
                                    <i></i>Hủy bỏ
                                </button>
                            </form>
                                                        </div>
                    </td>
                </tr>
                               <tr>
                    <td>
                        <img src="https://kindmate.net/images/campaign-logo.png" class="img-circle img-size-32 mr-2">
                        <a href="https://kindmate.net/project/1353/cai-ni-la-test-thoi" target="_blank" class="text-primary">Test02</a>
                    </td>
                    <td class="text-secondary">20/06/2020 10:37:10 CH</td>
                    <td class="text-secondary">1 ngày từ bây giờ</td>
                    <td>
                         <span class="text-warning">Đang chờ duyệt</span>                                                                                             </td>
                    <td>
                        <div class="d-flex">
                                                       <!--  <a href="https://kindmate.net/admin/cpanel/campaign/1353" target="_blank" class="btn btn-default m-0 btn-sm mr-2" role="button">
                                <span class="text">Quản trị</span>
                            </a> -->
                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn ẩn chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="put">                                <input type="hidden" value="hidden" name="status">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <i></i>Ẩn
                                </button>
                            </form>

                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn xóa chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="DELETE">                                <button class="btn btn-danger btn-sm" type="submit">
                                    <i></i>Hủy bỏ
                                </button>
                            </form>
                                                        </div>
                    </td>
                </tr>

                                <tr>
                    <td>
                        <img src="https://kindmate.net/images/campaign-logo.png" class="img-circle img-size-32 mr-2">
                        <a href="https://kindmate.net/project/1353/cai-ni-la-test-thoi" target="_blank" class="text-primary">Test01</a>
                    </td>
                    <td class="text-secondary">20/06/2020 10:34:43 CH</td>
                    <td class="text-secondary">1 ngày từ bây giờ</td>
                    <td>
                         <span class="text-warning">Đang chờ duyệt</span>                                                                                             </td>
                    <td>
                        <div class="d-flex">
                                                       <!--  <a href="https://kindmate.net/admin/cpanel/campaign/1353" target="_blank" class="btn btn-default m-0 btn-sm mr-2" role="button">
                                <span class="text">Quản trị</span>
                            </a> -->
                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn ẩn chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="put">                                <input type="hidden" value="hidden" name="status">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <i></i>Ẩn
                                </button>
                            </form>

                            <form class=" mr-2" action="https://kindmate.net/admin/campaign/1353" method="post" onsubmit="if(!confirm('Bạn có muốn xóa chiến dịch này không ?')){return false;}">
                                <input type="hidden" name="_token" value="C4ibVjFx0XBwcGxANzlJtEnc09k0KKO5zWjPD0hX">                                <input type="hidden" name="_method" value="DELETE">                                <button class="btn btn-danger btn-sm" type="submit">
                                    <i></i>Hủy bỏ
                                </button>
                            </form>
                                                        </div>
                    </td>
                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>


            </div>
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <a href="https://www.facebook.com/Kindmate">Facebook Fanpage</a>
            </div>
            <span>Copyright © 2020 <a href="http://adminlte.io/">Vietnam Donation Foundation</a>.</span> All rights reserved.
        </footer>
        <!-- /.control-sidebar -->
        <div id="sidebar-overlay"></div>
    </div>

    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/jquery.min.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/bootstrap.bundle.min.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/adminlte.min.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/demo.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/sweetalert2.all.min.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/toastr.min.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/summernote-bs4.js.download"></script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/axios.min.js.download"></script>
    <script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
        $(document).ready(function() {
            $('.summernote').summernote();
        });
    </script>
    <script src="./Kindmate - Nền tảng gây quỹ dễ dàng nhanh chóng_files/jquery-ui.min.js.download"></script>
    <script>
        $(function() {
            function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                    const negativeSign = amount < 0 ? "-" : "";

                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;

                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
                } catch (e) {
                    console.log(e)
                }
            };
            $("#search-string").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "https://kindmate.net/admin/ajax/campaign",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function(data) {
                            response(data.data);
                        }
                    });
                },
                minLength: 2,
                appendTo: $('#result'),

            }).autocomplete("instance")._renderItem = function(ul, item) {
                return $("<li>")
                    .append("<div class='data-item'><a href='" + item.url + "'>" + item.name + "<span class='location' >" + item.money + "</span>" + "</a></div>")
                    .appendTo(ul);
            }
        });
    </script>
    <script>
        function filter() {
            let status = "";
            let deadline = "";
            let name = "";
            if ($('#status').val() && $('#status').val() !== "all") {
                status = $('#status').val();
            }
            if ($('#deadline').val() && $('#deadline').val() !== "all") {
                deadline = $('#deadline').val();
            }
            if ($('#search-string').val()) {
                name = $('#search-string').val();
                console.log(name)
            }
            window.location.href = "https://kindmate.net/admin/campaign" + "?status=" + status + "&deadline=" + deadline + "&name=" + name;
        }
    </script>



    <div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>


</body></html>