{% extends 'vdf/layout.html'%} {% load static %} {% block head%}
<title>VDF - Nền tảng gây quỹ dễ dàng nhanh chóng</title>
{% endblock %} {% block body%}

<main class="py-5">
    <section id="list-campaign" class="pb-5">
        <div class="container">
            <div class="blog-header text-center">
                <div class="container">
                    <h1>Tạo chiến dịch thành công</h1>
<!--                    <h2>Chiến dịch : Chiến dịch A <br> Số tiền : 100000 đ<br> VDF trân trọng tấm lòng của bạn</h2>-->
                    <a class="btn btn-link" href="{% url 'index' %}">
                        Quay về trang chủ 
                    </a>
                </div>
            </div>

        </div>
        </div>
    </section>
</main>
{% endblock %}