.result {
    margin-top: 10px;
    position: absolute;
    background-color: white;
    max-height: 300px;
    overflow-y: scroll;
    border-top-left-radius: .215rem;
    border-top-right-radius: .215rem;
    overflow-x: hidden;
    box-shadow: 1px 1px 5px #3e8ef7;
    width: 300px;
    right: 20px;
}

div.result > ul {
    padding-top: 7px;
    padding-left: 10px;
    left: unset !important;
}

div.result > ul > li {
    color: black;
    list-style-type: none;
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
}

div.result > ul > li:first {
    margin-top: 10px;
}

.data-item {
    cursor: pointer;
    color: #333;
    display: block;
    text-overflow: ellipsis;
    max-width: 350px;
}

.data-item > a {
    color: #333;
    text-decoration: none;
}

.data-item > a:hover {
    color: #3e8ef7;
}

.data-item .location {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    color: #BDBDBD;
    -webkit-line-clamp: 1;
}

.data-item .customer-name {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    color: #BDBDBD;
    -webkit-line-clamp: 1;
}
